<div *ngIf="user">
  <h2>{{user.name | uppercase}} Details:</h2>
  <div>
    <label>Username:
      <input [(ngModel)]="user.name" placeholder="name"/>
    </label>
  </div>
  <div><span>current TID: </span>{{user.currentTransaction['_id']}}</div>
  <div *ngIf="user.sqlConsole.length">
    <label>SQL Statements for {{user.currentTransaction['_id']}}:</label>
    <ul class="transaction">
      <li *ngFor="let sql of user.sqlConsole">
        {{sql}}
      </li>
    </ul>
  </div>
    <div>
    <label>SQL:
      <input [(ngModel)]="user.newCommand" placeholder="Insert SQL"/>
    </label>
  </div>
</div>
